section {
	margin-top: 50px;
}

.green-text {
	font-weight: bold;
	color:green;
}

.red-text {
	font-weight: bold;
	color:red;
}

.green-border{
	border-color: green;
}

.red-border {
	border-color:red;
}